.recover-page{
    min-height:100vh;
    background:#000;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:20px;
}

.recover-card{
    width:100%;
    max-width:420px;

    background:#111;
    border:1px solid #262626;

    border-radius:24px;

    padding:40px;
}

.recover-btn:disabled{
    opacity:.7;
    cursor:not-allowed;
}